[submodule "cmake/polly"]
	path = cmake/polly
	url = https://github.com/guo122/polly
	shallow = true
[submodule "cmake/ios-cmake"]
	path = cmake/ios-cmake
	url = https://github.com/guo122/ios-cmake
	shallow = true
